.b-workZone__content.m-workZone__content__nav .absol-tabbar-button {
    display: flex;
    flex-shrink: 0;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    border-bottom: 2px #546e7a solid;
}

.b-workZone__content.m-workZone__content__nav .absol-tabbar-button::before {}

.b-workZone__content.m-workZone__content__nav .absol-tabbar-button#tabbuton-matd::before {
    content: "list";
}

.b-workZone__content.m-workZone__content__nav .absol-tabbar-button#tabbuton-matd2::before {
    content: "gavel";
}

.b-workZone__content.m-workZone__content__nav .absol-tabbar-button#tabbuton-matd3::before {
    content: "search";
}

.b-tabs__selectorItems {
    white-space: nowrap;
    position: relative;
    width: 100%;
    margin-top: 0;
    box-sizing: content-box;
}

.b-workZone__content.m-workZone__content__nav .absol-tabview .absol-tabbar-button {
    height: 100%;
}

.b-workZone__content.m-workZone__content__nav .absol-tabview .absol-tabbar {
    border-bottom: none;
    height: 40px;
}

.b-workZone__content.m-workZone__content__nav .absol-tabbar-button .absol-tabbar-button-icon-container {
    display: none;
}

.b-workZone__side.m-workZone__side__nav {
    background-color: #263238;
    height: 100%;
    position: relative;
    vertical-align: top;
    display: flex;
    flex-shrink: 0;
}

table.b-workZone__layout {
    border-spacing: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.b-workZone__content.m-workZone__content__nav .absol-tabview .absol-tabbar-button.absol-tabbar-button-active {
    border-bottom: 2px #546e7a solid;
}

.m-workZone__side__nav {
    width: 30%;
    padding-right: 1px;
}

.b-workZone__side {
    padding-left: 1px;
    padding-right: 1px;
    margin: 0;
}

.b-workZone__layout .absol-tabview {
    position: static;
}

.b-workZone__layout .absol-tabview-container {
    height: calc(100% - 40px);
    top: 40px;
    left: unset;
    right: unset;
    bottom: unset;
    overflow: unset;
}

.b-workZone__layout .header-display-visible table.sortTable .parent td {
    background-color: unset;
}

.b-workZone__layout .sortTable {
    width: 100%;
    border-radius: 0;
    background-color: unset;
    color: #eeeeee;
}

.b-workZone__layout .sortTable td {
    border-top: 1px solid #000000;
    padding: 7px;
}

.b-workZone__content.m-workZone__content__nav .sortTableClone {
    width: 100%;
    border-radius: 0;
    background-color: unset;
    color: #eeeeee;
}

.b-workZone__content.m-workZone__content__nav .sortTableClone>thead {
    display: none;
}

.b-workZone__layout .sortTableClone td {
    border-top: 1px solid #000000;
    padding: 7px;
}

.b-workZone__side.m-workZone__side__article {
    background-color: #263238;
    width: unset;
    height: 100%;
    flex-grow: 2;
    display: flex;
}

.b-workZone__content#workZone_article__content {
    height: 100%;
    width: 100%;
}

.b-pageContent__side #internal_wrapper * {
    box-sizing: content-box;
}

.b-breadCrumbs__items {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.b-breadCrumbs__item {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    font-size: 1em;
}

.b-article__headerSide.m-article__headerSide__nav {
    font-size: 1em;
    padding: 5px 10px;
    padding-bottom: 20px;
    padding-top: 0;
    flex-grow: 2;
    display: flex;
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    overflow: hidden;
    position: relative;
}

.b-article__headerSide.m-article__headerSide__buttons {
    font-size: 1em;
    padding: 8px 26px;
    display: flex;
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    flex-shrink: 0;
    width: fit-content;
}

.b-article__headerLayout {
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    align-items: stretch;
    background-color: #263238;
}

.b-controlButtons__item {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 0 8px 0 0;
    position: relative;
    font-size: 1em;
    white-space: pre;
    cursor: pointer;
}

.b-controlButtons__item:hover {
    background-color: #b0bec5;
    color: #ffffff;
}

li.b-controlButtons__item {
    overflow: hidden;
}

.m-controlButtons__item__print {
    margin: 0;
}

.b-controlButtons__items {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.b-article {
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative;
    flex-direction: column;
    overflow: auto;
    font-family: Arial;
}

.b-article__headerLayout-edit#article__header {
    display: flex;
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    flex-shrink: 0;
}

.b-controlButtons__item>span {
    vertical-align: initial;
    padding: 5px;
}

.b-controlButtons__item>i {
    vertical-align: middle;
    font-size: 22px;
    cursor: pointer;
}

.cke_screen_reader_only {
    top: 0;
}

.os-host,
.os-host-textarea {
    position: relative;
    overflow: visible!important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
    flex-grow: 2;
    display: flex;
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    min-height: 600px;
}

.b-article__wrapper.os-host.os-theme-dark.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden.os-host-overflow.os-host-overflow-y.os-host-transition .cke.cke_reset.cke_chrome.cke_ltr.cke_browser_webkit {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
}

.header-display-visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.js-stools-container-bar {
    display: flex;
    flex-shrink: 0;
    position: sticky;
}

.header-display-visible .container-sortTable {
    flex-grow: 2;
    display: flex;
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

.absol-tab-frame-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
}

.container-content-information {
    flex-grow: 2;
    display: flex;
    font-family: sans-serif, Arial, Verdana, "Trebuchet MS", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    color: #333;
    background-color: #fff;
    margin: 1em;
    overflow: auto;
}

.container-content-information h1,
.container-content-information h2,
.container-content-information h3,
.container-content-information h4,
.container-content-information h5,
.container-content-information h6 {
    font-weight: normal;
    line-height: 1.2;
}

.container-content-information h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.cke_editable {
    cursor: text;
}

.cke_editable {
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}

.container-content-information ul {
    list-style-type: disc;
}

.container-content-information li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.container-content-information .cke_editable.cke_editable_themed.cke_contents_ltr.cke_show_borders {
    margin: 20px;
    margin-top: 0px;
    width: 100%;
}

@media print {
    html,
    body,
     :root {
        padding: 0;
        margin: 0;
        height: unset;
        width: unset;
        border: none;
        overflow: unset;
    }
}

@media print {
    table {
        width: 100%;
    }
}

@media print {
    table {
        page-break-inside: auto
    }
    tr {
        page-break-inside: avoid;
        page-break-after: auto
    }
}

.b-controlButtons__item.m-controlButtons__item__print>i {
    vertical-align: top;
    padding-top: 2px;
}

.cke_show_borders table.cke_show_border,
.cke_show_borders table.cke_show_border>tr>td,
.cke_show_borders table.cke_show_border>tr>th,
.cke_show_borders table.cke_show_border>tbody>tr>td,
.cke_show_borders table.cke_show_border>tbody>tr>th,
.cke_show_borders table.cke_show_border>thead>tr>td,
.cke_show_borders table.cke_show_border>thead>tr>th,
.cke_show_borders table.cke_show_border>tfoot>tr>td,
.cke_show_borders table.cke_show_border>tfoot>tr>th {
    border: #d3d3d3 1px dotted;
}

.container-content-information tr,
.container-content-information td {
    border: 1px solid grey;
}

.container-content-information table {
    border-collapse: separate;
    border-spacing: 2px;
}

.container-content-information table[align] {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.container-content-information table[style] {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.b-article .pizo-new-category-container-name {
    position: sticky;
    top: 0;
    display: flex;
    /* display: -webkit-box; */
    display: -ms-flexbox;
    flex-shrink: 0;
    background-color: #263238;
    z-index: 10;
    color: #eeeeee;
    padding: 5px 10px;
    padding-left: 15px;
}

.b-workZone__layout_helpcontainer_view .b-article__headerLayout#article__header {
    background-color: white;
    margin: 10px;
    margin-bottom: 0;
    width: unset;
}

.b-workZone__layout_helpcontainer_view .container-content-information {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.b-workZone__layout_helpcontainer_view .b-breadCrumbs__item {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 0;
}

.container-content-information-bottom {
    flex-shrink: 0;
    display: flex;
    background-color: white;
    margin: 10px;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.b-controlButtons__item.m-controlButtons__item__next {
    position: absolute;
    right: 10px;
}

.b-controlButtons__item.m-controlButtons__item__prev {
    margin-left: 10px;
}

.b-workZone__layout_helpcontainer_view a {
    color: #17a2b8;
}

.b-workZone__layout_helpcontainer_view .b-breadCrumbs__items {
    display: flex;
}

.b-workZone__layout_helpcontainer_view .b-article__headerSide.m-article__headerSide__nav {
    flex-direction: column;
}

.b-workZone__layout_helpcontainer_view p {
    margin: 0;
}

.b-breadCrumbs__location {
    display: flex;
    margin: 10px;
}

.b-breadCrumbs__location_title {
    white-space: nowrap;
    margin-left: 50px;
}

.b-breadCrumbs__location_content {
    margin-left: 10px;
}