.pizo-list-realty-main-result-control-map-view {
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
}

.pizo-list-realty-main-result-control-map-view .pizo-new-realty-location-map-view {
    flex-grow: 2;
    display: flex;
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    margin-bottom: 0;
    width: unset;
    vertical-align: unset;
    height: unset;
    position: unset;
}

@media screen and (min-width: 1007px) {
    body:not(.mobile-web) .search-page-list-container {
        overflow-y: auto;
        -webkit-box-flex: 0;
        flex: 0 0 390px;
        box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
}

.search-page-list-container {
    height: 100%;
}

@media screen and (min-width: 1007px) {
    body:not(.mobile-web) .double-column-only {
        width: 375px;
        -webkit-box-flex: 0;
        flex: 0 0 375px;
    }
}

@media screen and (min-width: 1280px) {
    body:not(.mobile-web) .double-column-only {
        width: 750px;
        -webkit-box-flex: 0;
        flex: 0 0 750px;
    }
}

.result-list-container {
    position: relative;
    background-color: #fafafa;
    position: absolute;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1007px) {
    .result-list-container {
        width: 100%;
    }
}

.responsive-search-page .short-list-cards .result-list-container {
    background: 0 0;
}

.responsive-search-page .short-list-cards .result-list-container>.search-page-list-header {
    padding: 12px 10px;
}

@media screen and (min-width: 1007px) {
    .responsive-search-page .short-list-cards .result-list-container>.search-page-list-header {
        padding: 20px;
    }
}

.result-list-container .search-title {
    font-size: 20px;
    line-height: 26px;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media screen and (min-width: 1007px) {
    .responsive-search-page .search-page-list-container .search-title {
        margin-bottom: 12px;
    }
}

.responsive-search-page .short-list-cards .result-list-container .search-subtitle,
.responsive-search-page .short-list-cards .result-list-container .search-title {
    margin-bottom: 0;
}

@media screen and (min-width: 1007px) {
    .responsive-search-page .short-list-cards .result-list-container .search-title {
        margin-bottom: 8px;
    }
}

.result-list-container .search-subtitle {
    margin-bottom: 10px;
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
}

@media screen and (min-width: 1007px) {
    .responsive-search-page .search-page-list-container .search-subtitle {
        position: relative;
        /*display: -webkit-box;*/
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        font-size: 14px;
        margin-bottom: 12px;
    }
}

.result-list-container .result-count {
    align-self: flex-start;
    -webkit-box-flex: 1;
    flex: 1;
}

@media screen and (min-width: 1007px) {
    .responsive-search-page .search-page-list-container .search-subtitle .result-count {
        font-weight: 600;
    }
}

.result-list-container .sort-options {
    display: none;
}

.result-list-container .sort-options.visible {
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
}

.photo-cards.photo-cards_short {
    padding: 0;
    background-color: #f1f1f4;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media screen and (min-width: 640px) {
    .photo-cards.photo-cards_short {
        padding: 0 8px 0 16px;
    }
}

body:not(.mobile-web) .photo-cards.photo-cards_short {
    background-color: #fff;
}

@media screen and (min-width: 1007px) {
    body:not(.mobile-web) .photo-cards.photo-cards_short {
        padding: 0 16px;
    }
}

@media screen and (min-width: 1280px) {
    body:not(.mobile-web) .photo-cards.photo-cards_short {
        padding: 0 8px 0 16px;
    }
}

.photo-cards.photo-cards_short>li {
    display: block;
    margin: 0 0 8px;
    width: 100%;
}

@media screen and (min-width: 640px) {
    .photo-cards.photo-cards_short>li {
        display: inline-block;
        margin-right: 8px;
        vertical-align: top;
        width: calc((100% / 2) - 8px);
    }
}

@media screen and (min-width: 1007px) {
    body:not(.mobile-web) .photo-cards.photo-cards_short>li {
        display: block;
        margin: 0 0 8px;
        width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    body:not(.mobile-web) .photo-cards.photo-cards_short>li {
        display: inline-block;
        margin-right: 8px;
        vertical-align: top;
        width: calc((100% / 2) - 8px);
    }
}

.list-card {
    background: #fff;
    border-bottom: 4px solid #006aff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.list-card,
.list-card-top {
    position: relative;
}

.list-card,
.list-card-info {
    /*display: -webkit-box;*/
    -webkit-box-orient: vertical;
}

.list-card {
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
}

.list-card,
.list-card-info {
    display: grid;
    grid-template-columns: 1fr;
}

.list-card {
    grid-template-rows: auto 110px;
    grid-template-areas: "top" "bottom";
}

.list-card-short {
    grid-template-rows: auto;
}

.list-card-info {
    padding: 15px;
}

.list-card-info {
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 110px;
}

.list-card-info {
    grid-area: bottom;
    grid-template-rows: repeat(3, auto);
    min-height: auto;
}

.list-card-short .list-card-info {
    min-height: 74px;
    padding: 5px 8px 7px;
}

.list-card-addr,
.list-card-details,
.list-card-favorites-info,
.list-card-footer,
.list-card-heading,
.list-card-link,
.list-card-truncate,
.list-card-type,
.list-card-variable-text {
    margin: 0;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-card-link {
    display: grid;
    -webkit-box-ordinal-group: 3;
    order: 2;
}

.zsg-link:visited,
.zsg-link_primary:visited,
a:visited {
    color: #7a48d6;
}

.list-card-link:active,
.list-card-link:hover,
.list-card-link:link,
.list-card-link:visited {
    color: #2a2a33;
}

.list-card-addr {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 5px;
    min-width: 0;
}

.list-card-short .list-card-addr,
.list-card-short .list-card-heading {
    margin-bottom: 0;
}

.list-card-footer,
.list-card-horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.list-card-footer {
    -webkit-box-ordinal-group: 4;
    order: 3;
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
}

.list-card-footer,
.list-card-heading {
    grid-template-columns: auto 1fr;
    display: grid;
}

.list-card-footer {
    grid-row: 3/4;
}

.list-card-type {
    font-size: 13px;
    font-weight: 600;
    -webkit-box-ordinal-group: 2;
    order: 1;
}

.list-card-short .list-card-type {
    margin-top: 3px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
}

.list-card-heading {
    line-height: 1;
    margin-bottom: 9px;
    -webkit-box-ordinal-group: 2;
    order: 1;
}

.list-card-heading {
    grid-row: 1/2;
    -webkit-box-align: end;
    align-items: end;
}

.list-card-price,
.priceStyles {
    font-weight: 600;
    margin-bottom: 0;
}

.list-card-price {
    display: inline-block;
    font-size: 26px;
}

.list-card-short .list-card-price {
    font-size: 24px;
    line-height: 32px;
    height: 32px;
}

.list-card-details {
    display: inline;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
    margin-left: 15px;
    max-width: 100%;
}

.list-card-price+.list-card-details {
    margin-bottom: 3px;
}

.list-card-short .list-card-price+.list-card-details {
    margin-bottom: 5px;
    text-align: right;
}

.list-card-details>li {
    display: inline;
    padding: 0 6px;
}

.list-card-details>li:first-child {
    border-left: 0;
    padding-left: 0;
}

.list-card-details>li:last-child {
    border-left: 1px solid #d1d1d5;
}

.list-card-label {
    font-size: 14px;
    font-weight: 400;
}

.list-card-top {
    grid-area: top;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    overflow: hidden;
}

.list-card-brokerage,
.list-card-variable-text {
    z-index: 1;
}

.list-card-img-overlay {
    background: rgba(0, 0, 0, 0.54);
    color: #fff;
    padding: 5px 15px;
    font-size: 13px;
}

.list-card-variable-text {
    max-width: calc(100% - 40px);
    left: 0;
    top: 0;
}

.list-card-brokerage,
.list-card-save,
.list-card-variable-text {
    position: absolute;
    overflow: hidden;
}

.list-card-brokerage,
.list-card-img,
.list-card-overlay,
.list-card-save,
.list-card-variable-text {
    grid-area: 1/1/-1/-1;
}

.list-card-variable-text {
    place-self: start;
}

.list-card-variable-text {
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.list-card-brokerage {
    background: 0 0;
    width: calc(100% - 30px);
    padding-bottom: 10px;
    text-align: right;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    bottom: 0;
    right: 0;
}

.list-card-brokerage {
    grid-area: auto;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.list-card-img {
    content: "";
    display: block;
    padding-top: 53.33%;
    overflow: hidden;
    position: relative;
    background-color: #f1f1f4;
}

.list-card-link {
    display: grid;
    -webkit-box-ordinal-group: 3;
    order: 2;
}

.list-card-short .list-card-img {
    padding-top: 41.67%;
}

.list-card-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    width: 100%;
    height: auto;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.list-card-save {
    z-index: 1;
    background: 0 0;
    border: 0;
    right: 0;
    top: 0;
}

.list-card-save {
    align-self: start;
    justify-self: end;
}

body.responsive-search-page .search-page-container .list-card-save {
    -webkit-transform: translate3d(0, 0, 0);
}

.list-card-save .list-card-save-content {
    display: block;
    width: 44px;
    padding: 8px 8px 5px;
    -webkit-filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.66));
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.66));
    -webkit-transition: -webkit-filter 0.2s ease-out;
    transition: -webkit-filter 0.2s ease-out;
    transition: filter 0.2s ease-out;
    transition: filter 0.2s ease-out, -webkit-filter 0.2s ease-out;
}

.list-card-type-icon.zsg-icon-for-sale {
    font-size: 10px;
}

.favorite_border.material-icons {
    font-size: 34px;
    color: white;
}

.responsive-mini-bubble {
    color: #2a2a33;
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    line-height: 15.6px;
    position: relative;
    background-color: #fff;
    font-size: 12px;
    -webkit-tap-highlight-color: transparent;
    font-family: Gotham, gotham, Verdana, sans-serif;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.responsive-mini-bubble .mini-bubble-content {
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
}

.responsive-mini-bubble .mini-bubble-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 46px;
    width: 46px;
    margin-right: 5px;
    border: 0;
}

.responsive-mini-bubble .mini-bubble-details {
    margin-bottom: 0;
    height: 46px;
}

.responsive-mini-bubble .mini-bubble-details div,
.responsive-mini-bubble .mini-bubble-details strong {
    height: 15.3px;
    white-space: nowrap;
}

.responsive-mini-bubble .mini-bubble-details div,
.responsive-mini-bubble .mini-bubble-details strong {
    height: 15.3px;
    white-space: nowrap;
}

.home-details-content {
    position: relative;
}

.imHfmq {
    height: 100%;
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 16px;
}

.ds-text-button {
    color: #006aff;
    padding: 0;
    border: 0;
    background: 0 0;
}

.fyUmOz {
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    position: absolute;
    width: 1px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
}

.ds-text-button:hover {
    color: #62aef7;
}

.duJWoc:hover {
    text-decoration: none;
}

.duJWoc {
    vertical-align: middle;
}

@media (min-width: 1024px) {
    .imHfmq {
        border-bottom: 1px solid rgb(209, 209, 213);
    }
}

.zsg-form-group,
.zsg-form-group li,
ol,
ul {
    list-style: none;
}

.lhzQGq {
    cursor: pointer;
    color: rgb(0, 106, 255);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    background: none;
    padding: 0px;
}

.ds-close-lightbox-icon {
    position: absolute;
    top: 16px;
    right: -40px;
    border: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    display: none;
}

@media only screen and (min-width: 1024px) {
    .ds-close-lightbox-icon {
        display: block;
    }
}

.ds-wrapper {}

@media only screen and (min-width: 768px) {
    .ds-wrapper {
        overflow: hidden;
    }
}

.ds-container {
    -webkit-font-smoothing: antialiased;
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    max-height: none;
    position: relative;
    height: 90vh;
}

.ds-media-col {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-height: 100vh;
}

.ds-container .ds-data-view,
.ds-container .ds-media-col {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.ds-container .ds-media-col {
    background: #fff;
    -ms-flex: 1;
    flex: 1;
}

@media only screen and (min-width: 768px) {
    .ds-container.ds-mobile-single-scroll .ds-media-col {
        display: block !important;
        position: relative;
    }
}

.media-stream {
    background: #fff;
}

.media-stream {
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    margin: -2px;
    width: calc(100% + 4px);
    min-height: 30% !important;
}

@media screen and (min-width: 768px) {
    .media-stream {
        max-width: calc(100vw - 1100px);
    }
}

.media-stream {
    display: -ms-grid;
    display: grid;
    grid-gap: 4px;
    grid-auto-columns: 1fr;
    margin: 0 auto;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.ds-container .ds-data-view>ul,
.ds-container .ds-media-col>ul {
    min-height: 80%;
    overflow: auto;
    height: calc(100% - 48px);
}

.media-stream-tile {
    cursor: pointer;
    display: block;
    overflow: hidden;
    scroll-snap-align: center;
    box-shadow: inset rgba(0, 0, 0, 0.15) 0 0 10px;
}

.media-stream .media-stream-tile {
    height: calc(100vw * 3 / 4);
    width: 100%;
    border: 2px solid #eee;
}

@media screen and (min-width: 550px) {
    .media-stream .media-stream-tile {
        height: calc((100vw - 4px) * 3 / 8);
        width: 50%;
    }
}

@media screen and (min-width: 550px) {
    .media-stream .media-stream-tile--prominent {
        height: calc(100vw * 3 / 4);
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .media-stream .media-stream-tile {
        height: calc((100vw - 400px) * 3 / 4);
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .media-stream .media-stream-tile {
        height: calc((100vw - 400px - 4px) * 3 / 8);
        width: 50%;
    }
}

@media screen and (min-width: 900px) {
    .media-stream .media-stream-tile--prominent {
        height: calc((100vw - 400px) * 3 / 4);
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .media-stream .media-stream-tile {
        border-width: 2px;
        height: calc((100vw - 400px - 72px * 2 - 4px) * 3 / 8);
    }
}

@media screen and (min-width: 1024px) {
    .media-stream .media-stream-tile--prominent {
        height: calc((100vw - 400px - 72px * 2) * 3 / 4);
    }
}

@media screen and (min-width: 1280px) {
    .media-stream .media-stream-tile {
        border-width: 2px;
        height: calc((100vw - 480px - 72px * 2 - 4px) * 3 / 8);
    }
}

@media screen and (min-width: 1280px) {
    .media-stream .media-stream-tile--prominent {
        height: calc((100vw - 480px - 72px * 2) * 3 / 4);
    }
}

@media screen and (min-width: 1390px) {
    .media-stream .media-stream-tile {
        height: calc((768px - 4px) * 3 / 8);
    }
}

@media screen and (min-width: 1390px) {
    .media-stream .media-stream-tile--prominent {
        height: calc(768px * 3 / 4);
    }
}

.media-stream .media-stream-tile {
    border-width: 0;
    width: auto;
}

@media screen and (min-width: 550px) {
    .media-stream .media-stream-tile--fullwidth,
    .media-stream .media-stream-tile--prominent {
        -ms-grid-column: span 2;
        grid-column: span 2;
    }
}

@media screen and (min-width: 768px) {
    .media-stream .media-stream-tile--fullwidth,
    .media-stream .media-stream-tile--prominent {
        -ms-grid-column: span 1;
        grid-column: span 1;
    }
}

@media screen and (min-width: 900px) {
    .media-stream .media-stream-tile--fullwidth,
    .media-stream .media-stream-tile--prominent {
        -ms-grid-column: span 2;
        grid-column: span 2;
    }
}

.media-stream-tile--upsell .upsell-photo-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ds-container .ds-hero-headline {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.media-stream-tile--upsell .upsell-photo-content .ds-hero-headline {
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-top: -16px;
    margin-bottom: 16px;
    padding: 0 8px;
}

.ds-container .contact-button-group {
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-inline-start: 0;
}

.ds-container .contact-button-group .contact-button:not(:first-child) {
    margin-left: 8px;
}

.media-stream-tile--upsell .upsell-photo-content .contact-button-group {
    height: unset;
}

.ds-container .contact-button-group .contact-button {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.media-stream-tile--upsell .upsell-photo-content .contact-button-group .contact-button {
    -ms-flex-preferred-size: 0;
    flex-basis: 0%;
}

.ds-container .ds-label-small {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.ds-white-bg {
    background: #fff !important;
}

.ds-container .ds-data-col {
    background: #eee;
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .ds-container .ds-data-col {
        -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
        max-width: 400px;
    }
}

@media only screen and (min-width: 1280px) {
    .ds-container .ds-data-col {
        -ms-flex-preferred-size: 480px;
        flex-basis: 480px;
        max-width: 480px;
    }
}

@media only screen and (min-width: 768px) {
    .ds-container .ds-data-col.ds-data-col-data-forward {
        -ms-flex-preferred-size: 1000px;
        flex-basis: 1000px;
        max-width: 1000px;
    }
}

.ds-data-col-container{
    display: flex;
    width: 100%;
    height: calc(100% - 51px);
}

.ds-container .ds-chip {
    padding-bottom: 16px;
}

.ds-container .ds-chip,
.ds-container .ds-chip-mobile {
    background-color: #fff;
}

.ds-home-details-chip {
    margin: 0 16px;
    padding-top: 16px;
}

.ds-home-details-chip .ds-summary-row-container {
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
}

.ds-home-details-chip .ds-summary-row-content {
    -ms-flex: 1;
    flex: 1;
    width: 100%;
}

.ds-home-details-chip .ds-summary-row {
    margin-bottom: 4px;
    font-weight: 600;
}

.zsg-h2.zsg-separator {
    margin: 0;
}

.zsg-h2.zsg-separator {
    color: inherit;
}

.zsg-h3,
.zsg-h3_light,
h3 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
}

.zsg-content-item,
.zsg-datatable-table .zsg-table-th,
.zsg-datatable-table th,
.zsg-form-legend,
.zsg-h1,
.zsg-h2,
.zsg-h2.zsg-separator,
.zsg-h3,
.zsg-h4,
.zsg-h5,
.zsg-menu-header,
.zsg-pagination>li,
.zsg-step-content,
.zsg-steps>li>a,
.zsg-subfooter-header,
.zsg-table .zsg-table-th,
.zsg-table th,
.zsg-toolbar_labeled .zsg-toolbar-label {
    margin-bottom: 15px;
}

.zsg-datatable-table .zsg-table-th,
.zsg-datatable-table th,
.zsg-form-legend,
.zsg-h1,
.zsg-h2,
.zsg-h2.zsg-separator,
.zsg-h3,
.zsg-h4,
.zsg-h5,
.zsg-menu-header,
.zsg-pagination>li,
.zsg-step-content,
.zsg-steps>li>a,
.zsg-subfooter-header,
.zsg-table .zsg-table-th,
.zsg-table th,
.zsg-toolbar_labeled .zsg-toolbar-label {
    display: block;
}

.ds-home-details-chip .ds-summary-row .ds-price {
    display: inline;
    font-size: 26px;
    line-height: 1.26923077;
    margin-right: 16px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

.ds-home-details-chip .ds-bed-bath-living-area-header,
.ds-home-details-chip .ds-bed-bath-living-area-header .ds-bed-bath-living-area-container {
    display: inline;
}

.zsg-h2.zsg-separator {
    margin: 0;
}

.zsg-h2.zsg-separator {
    color: inherit;
}

.zsg-h3,
.zsg-h3_light,
h3 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
}

.zsg-content-item,
.zsg-datatable-table .zsg-table-th,
.zsg-datatable-table th,
.zsg-form-legend,
.zsg-h1,
.zsg-h2,
.zsg-h2.zsg-separator,
.zsg-h3,
.zsg-h4,
.zsg-h5,
.zsg-menu-header,
.zsg-pagination>li,
.zsg-step-content,
.zsg-steps>li>a,
.zsg-subfooter-header,
.zsg-table .zsg-table-th,
.zsg-table th,
.zsg-toolbar_labeled .zsg-toolbar-label {
    margin-bottom: 15px;
}

.zsg-datatable-table .zsg-table-th,
.zsg-datatable-table th,
.zsg-form-legend,
.zsg-h1,
.zsg-h2,
.zsg-h2.zsg-separator,
.zsg-h3,
.zsg-h4,
.zsg-h5,
.zsg-menu-header,
.zsg-pagination>li,
.zsg-step-content,
.zsg-steps>li>a,
.zsg-subfooter-header,
.zsg-table .zsg-table-th,
.zsg-table th,
.zsg-toolbar_labeled .zsg-toolbar-label {
    display: block;
}

.ds-home-details-chip .ds-bed-bath-living-area-header,
.ds-home-details-chip .ds-bed-bath-living-area-header .ds-bed-bath-living-area-container {
    display: inline;
}

.ds-home-details-chip .ds-bed-bath-living-area {
    font-size: 15px;
    line-height: 1.53333333;
}

.ds-home-details-chip .ds-vertical-divider {
    margin-right: 8px;
    padding-left: 8px;
}

.ds-home-details-chip .ds-bed-bath-living-area-header .ds-vertical-divider {
    font-size: 15px;
}

.ds-home-details-chip .ds-bed-bath-living-area {
    font-size: 15px;
    line-height: 1.53333333;
}

.ds-home-details-chip .ds-summary-row-label-secondary {
    font-weight: 400;
}

.ds-home-details-chip .ds-price-change-address-row {
    margin-bottom: 4px;
    font-size: 15px;
    line-height: 1.53;
    font-weight: 600;
}

.ds-home-details-chip .ds-price-change-address-row header {
    display: inline;
}

.ds-home-details-chip .ds-price-change-address-row .ds-address-container {
    display: inline;
    font-size: 15px;
    line-height: 1.53;
    font-weight: 600;
    letter-spacing: normal;
}

.ds-home-details-chip .ds-chip-removable-content {
    will-change: height;
}

.ds-mortgage-row {
    height: 21px;
}

.ds-container .ds-buttons,
.ds-container .ds-buttons-mobile {
    background: #fff;
}

.ds-container .ds-buttons {
    padding: 0 16px 16px;
}

.ds-container .ds-buttons {
    z-index: 1;
    position: relative;
}

.ds-container .contact-button-group {
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.ds-container .contact-button-group .contact-button {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.ds-container .ds-label-small {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

@media screen and (min-width: 1390px) {
    .media-stream .media-stream-tile--halfheight {
        height: calc((768px - 4px) * 3 / 16);
    }
}

.media-stream-tile--upsell {
    background: #000;
    position: relative;
    cursor: unset;
}

.media-stream-tile figure,
.media-stream-tile img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
}

.iJIIUW {
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans", Tahoma, Geneva, sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: none;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    user-select: none;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 34px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 106, 255);
    margin: 0px;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 3px;
    transition: all 0.2s ease 0s;
    border-color: rgb(0, 106, 255);
}

.cllLJF {
    padding-right: 8px;
    padding-left: 8px;
}

.cKVUOM {
    text-transform: none;
    -webkit-appearance: none;
    font: inherit;
    margin: 0px;
    padding: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.gpVNOz {
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    height: 100%;
    color: rgb(0, 106, 255);
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    background: transparent;
}

.eKDTCE {
    height: 20px;
    width: 20px;
    margin-right: 4px;
    vertical-align: middle;
}

.duJWoc {
    vertical-align: middle;
}

.cjrQwi {
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
}

.jfjsxZ {
    display: inline;
    color: inherit;
    cursor: pointer;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    background: none;
    padding: 0px;
    border-width: 0px 0px 1px;
    border-image: initial;
    border-bottom: 1px dashed rgb(0, 106, 255);
}

.eVrWvb {
    border-bottom: 1px dashed rgb(167, 166, 171);
}

.eVrWvb,
.eVrWvb.TriggerButton-sc-19o64qd-0,
.eVrWvb.TriggerButton-sc-19o64qd-0::after {
    cursor: help;
}

.cpEtCH {
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans", Tahoma, Geneva, sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: none;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    user-select: none;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 9px;
    height: 42px;
    line-height: 22px;
    color: rgb(0, 106, 255);
    background-color: rgb(255, 255, 255);
    margin: 0px;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 3px;
    transition: all 0.2s ease 0s;
    border-color: rgb(167, 166, 171);
}

.btcvqQ {
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans", Tahoma, Geneva, sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: none;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    user-select: none;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 9px;
    height: 42px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 106, 255);
    margin: 0px;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 3px;
    transition: all 0.2s ease 0s;
    border-color: rgb(0, 106, 255);
}

.image-tabcontainer .absol-static-tabbar-active-box {
    top: unset;
}

.image-tabcontainer .absol-static-tabbar-active-box .absol-static-tabbar-hline {
    border-bottom: solid 5px rgb(127, 127, 128);
}

.image-tabcontainer .absol-static-tabbar-button>span {
    font-size: 1.2em;
}

.home-details-content .image-tabcontainer .absol-static-tabbar-button {
    width: 50%;
    min-width: 370px;
}

.home-details-content .image-tabcontainer{
    min-width: 740px;
}

.image-tabcontainer .absol-static-tabbar-button:hover {
    color: rgb(30, 30, 55);
    font-weight: 600;
}

.image-tabcontainer .absol-static-tabbar-button.active {
    background-color: #26438d;
    color: white;
}

.pizo-new-realty-dectruct.pizo-only-view {
    width: unset;
    margin-top: unset;
    margin-right: unset;
    margin: 10px;
    overflow: auto;
    position: relative;
}

.pizo-new-realty-dectruct.pizo-only-view input {
    pointer-events: none;
    border: none !important;
    text-align: center;
}

.pizo-new-realty-dectruct.pizo-only-view textarea {
    pointer-events: none;
}

.pizo-new-realty-dectruct.pizo-only-view .absol-selectbox-item-close {
    display: none;
}

.pizo-new-realty-dectruct.pizo-only-view .absol-selectbox-item-text {
    padding-right: 5px;
}

.pizo-new-realty-dectruct.pizo-only-view .absol-selectmenu:not(.pizo-new-realty-dectruct-content-area-unit-size):not(.pizo-new-realty-dectruct-content-area-unit):not(.pizo-new-realty-detruct-content-price-unit):not(.pizo-new-realty-detruct-content-price-rent-unit) .absol-selectmenu-btn {
    display: none;
}

.pizo-new-realty-dectruct.pizo-only-view .absol-selectmenu:not(.pizo-new-realty-dectruct-content-area-unit-size):not(.pizo-new-realty-dectruct-content-area-unit):not(.pizo-new-realty-detruct-content-price-unit):not(.pizo-new-realty-detruct-content-price-rent-unit) .absol-selectlist-item span {
    padding-right: 0;
}

.pizo-new-realty-dectruct.pizo-only-view .absol-selectmenu:not(.pizo-new-realty-dectruct-content-area-unit-size):not(.pizo-new-realty-dectruct-content-area-unit):not(.pizo-new-realty-detruct-content-price-unit):not(.pizo-new-realty-detruct-content-price-rent-unit) {
    text-align: right;
    pointer-events: none;
    height: 33px;
}

.absol-selectmenu .absol-selectlist-item span {
    padding-right: 7px;
}

.pizo-new-realty-dectruct.pizo-only-view .pizo-new-realty-contact-item-setting {
    display: none;
}

.pizo-new-realty-dectruct.pizo-only-view .pizo-new-realty-contact-item-close {
    display: none;
}

.home-details-content .as-button-range {
    min-height: 2em;
}


/* .pizo-new-realty-dectruct-tab-historical-progress-container {
    margin: 0.7143em;
    margin-bottom: 2.1429em;
} */

.search-page-list-container.double-column-only.short-list-cards {
    position: relative;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.form-group .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-xs {
    padding: .25rem .5rem;
    font-size: 10px;
}

.form-group .btn-info {
    background: #1976d2;
    border: 1px solid #1976d2;
    -webkit-box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
    box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    margin-top: 10px;
    color: white;
}

.form-control {
    color: #67757c;
    min-height: 38px;
    display: initial;
}

.form-control {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.pizo-new-realty-dectruct.pizo-only-view textarea.form-control {
    pointer-events: unset;
}

.form-group {
    margin: 10px;
}

.note-data {
    margin: 10px;
}

.note-data .oi-timer {
    float: right;
}

.photo-cards_short table.sortTable tr.parent td {
    background-color: #f5f5f5 !important;
    border: none !important;
}

.gm-style-pbc+div>div>div:first-child {
    z-index: 108 !important;
}

.history-tl-container {
    font-family: "Roboto", sans-serif;
    width: calc(100% - 20px);
    margin: auto;
    display: block;
    position: relative;
}

.history-tl-container ul.tl {
    padding: 0;
    display: inline-block;
    width: 100%;
}

.history-tl-container ul.tl li {
    list-style: none;
    margin: auto;
    margin-left: 100px;
    min-height: 50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left: 1px dashed #86D6FF;
    padding: 0 0 30px 30px;
    position: relative;
}

.history-tl-container ul.tl li:last-child {
    border-left: 0;
}

.history-tl-container ul.tl li::before {
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #258CC7;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl li:hover::before {
    border-color: #258CC7;
    transition: all 1000ms ease-in-out;
}

ul.tl li .item-title {}

ul.tl li .item-detail {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

ul.tl li .timestamp {
    color: #8D8D8D;
    position: absolute;
    width: 100px;
    left: -130px;
    text-align: right;
    font-size: 12px;
}

.history-tl-container ul.tl:first-child {
    margin-top: 20px;
}