.mpot-choice-value{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.mpot-preview-body{
    position: relative;
}

#preview-GPS{
    position: absolute;
    width: 50%;
    right: 0px;
    height: 100%;
}
#preview-GPS .mpot-base-preview-name{
    display: none;
}

#preview-GPS .mpot-base-preview-content{
    width: 100%;
    height: 100%;
}

#preview-GPS .mpot-base-preview-content > div{
    width: 100%;
    height: 100%;
}

#preview-GPS .mpot-base-preview-content .card-edit-company-block-maps-child{
    width: 100%;
    height: 100%;
}


#preview-GPS .mpot-base-preview-content .pizo-new-realty-location-map-view{
    width: 100%;
    margin: 0;
    height: 100%;
    min-width: unset;
}

.mpot-base-preview{
    margin-top:5px;
}

#preview-general{
    max-width: 50%;
}

#preview-address{
    display: flex;
}

#preview-address .mpot-base-preview-name{
    display: flex;
    flex-shrink: 0;
}

#preview-address-old{
    display: flex;
}

#preview-address-old .mpot-base-preview-name{
    display: flex;
    flex-shrink: 0;
}

#preview-description{
    display: flex;
}

#preview-description .mpot-base-preview-name{
    display: flex;
    flex-shrink: 0;
}

#preview-construction{
    max-width: 50%;
}

#preview-construction .mpot-base-preview{
    width: 50%;
    display: inline-flex;
}

#preview-construction .mpot-base-preview .mpot-base-preview-content{
    display: flex;
    flex-shrink: 0;
    padding-right: 30px;
}

#preview-construction .mpot-base-preview .mpot-base-preview-name{
    flex-grow: 2;
    display: flex;
    width: unset;
}

#edit-construction .mpot-group-editor-item#width .mpot-choice-list,
#edit-construction .mpot-group-editor-item#height .mpot-choice-list,
#edit-construction .mpot-group-editor-item#acreage .mpot-choice-list,
#edit-construction .mpot-group-editor-item#landarea .mpot-choice-list,
#edit-construction .mpot-group-editor-item#floorarea .mpot-choice-list{
    display: flex;
    table-layout: unset;
}

#edit-construction .mpot-group-editor-item#width .mpot-choice-list .mpot-choice,
#edit-construction .mpot-group-editor-item#height .mpot-choice-list .mpot-choice,
#edit-construction .mpot-group-editor-item#acreage .mpot-choice-list .mpot-choice,
#edit-construction .mpot-group-editor-item#landarea .mpot-choice-list .mpot-choice,
#edit-construction .mpot-group-editor-item#floorarea .mpot-choice-list .mpot-choice{
    flex-grow: 2;
    display: flex;
    width: 100%;
    padding-left: 20px;
}

#preview-structure .pizo-new-realty-desc-detail-row{
    margin-bottom: 0;
}

#preview-structure .pizo-new-realty-dectruct-content-area-size-zone{
    margin-bottom: 0;
}

#preview-structure .pizo-new-realty-dectruct-content-area{
    display: none;
}

#preview-structure .pizo-new-realty-detruct-content-structure{
    width: 120px;
}

#preview-structure .mpot-base-preview-name{
    padding-top: 12px;
}

#preview-structure .mpot-base-preview-content > div > div{
    width: 100%;
}

#preview-structure .pizo-new-realty-dectruct-content-area-size{
    margin-top: 10px;
}

#structure .mpot-choice-list{
    width: 100%;
}

#structure .mpot-choice-list .mpot-choice-value>span{
    width: 100%;
    -webkit-box-shadow: 3px 7px 25px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 7px 25px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 7px 10px -9px rgba(0, 0, 0, 0.75);
}

#structure .mpot-choice-list .mpot-choice-value>span>div{
    width: 100%;
    margin-bottom: 0;
}

#structure .pizo-new-realty-desc-detail-row{
    margin-bottom: 0;
}

#structure .mpot-choice{
    border-top: 1px;
}

#structure .pizo-new-realty-detruct-content-structure{
    border-right: none;
}

#preview-container-general{
    position: relative;
}

#preview-structure-detail .mpot-base-preview-name{
    display: none;
}

#preview-structure-detail{
    max-width: 50%;
    margin-top: 0;
}

#preview-structure-detail .pizo-new-realty-dectruct-content-area{
    margin-top: 0;
    margin-left: 0;
    margin-right: 30px;
}

#preview-structure-detail .pizo-new-realty-dectruct-content-area-selectbox, #structure .pizo-new-realty-dectruct-content-area-selectbox{
    margin:0;
}

/* #preview-structure-detail .pizo-new-realty-dectruct-content-area-selectbox-child:not(:first-child){
    margin-left: 20px;
}

#preview-structure-detail .pizo-new-realty-dectruct-content-area-selectbox-child{
    width: calc(50% - 10px);
} */