.pizo-new-account-container, .pizo-new-account-container-permission{
    width: calc(50% - 15px);
    min-width: 620px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.pizo-list-realty-main-result-control-advance:not(:first-child){
    margin-top: 10px;
}

.pizo-new-account-container-prermission-label{
    font-size: 20px;
    font-weight: 500;
}


.pizo-new-realty-desc-detail-row-permission{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
    margin: auto;
}

.pizo-new-account-container.pizo-new-account-advance-permission .pizo-new-account-container-permission-child>span
{
    width: 20%;
}

.pizo-new-account-container.pizo-new-account-advance-permission .pizo-new-account-container-permission-child>div
{
    width: 80%;
}

.pizo-new-account-container-permission-realty .pizo-new-realty-desc-detail-row-permission:nth-child(1)
{
    width: 20%;
}
 
.pizo-new-account-container-permission-realty .pizo-new-realty-desc-detail-row-permission:nth-child(2)
{
    width: 25%;
}

.pizo-new-account-container-permission-realty .pizo-new-realty-desc-detail-row-permission:nth-child(3)
{
    width: 25%;
}

.pizo-new-account-container-permission-realty .pizo-new-realty-desc-detail-row-permission:nth-child(4)
{
    width: 30%;
}

.pizo-new-account-container-permission .pizo-new-account-container-prermission-container-label{
    font-size: 16px;
    color: red;
}


.pizo-new-account-container-permission{
    padding-left: 30px;
}

.pizo-new-account-container-permission-child{
    flex-grow: 2;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.pizo-new-account-container-username-container,
.pizo-new-account-container-password-container,
.pizo-new-account-container-name-container,
.pizo-new-account-container-email-container,
.pizo-new-account-container-avatar-container,
.pizo-new-account-container-address-container,
.pizo-new-account-container-phone-container,
.pizo-new-account-container-status-container,
.pizo-new-account-container-position-container,
.pizo-new-account-container-status-position,
.pizo-new-account-container-phone-birthday-gender,
.pizo-new-account-container-birthday-container,
.pizo-new-account-container-gender-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    align-items: stretch;
    margin-bottom: 10px;
}

.pizo-new-account-container-status-container,
.pizo-new-account-container-position-container,
.pizo-new-account-container-birthday-container,
.pizo-new-account-container-gender-container,
.pizo-new-account-container-phone-container{
    margin-bottom: 0;
}

.pizo-new-account-container-username-container-label,
.pizo-new-account-container-password-container-label,
.pizo-new-account-container-name-container-label,
.pizo-new-account-container-email-container-label,
.pizo-new-account-container-avatar-container-label,
.pizo-new-account-container-address-container-label,
.pizo-new-account-container-phone-container-label,
.pizo-new-account-container-position-container-label,
.pizo-new-account-container-status,
.pizo-new-account-container-gender,
.pizo-new-account-container-birthday,
.pizo-new-account-container-birthday-container-label,
.pizo-new-account-container-prermission-container-label,
.pizo-new-account-container-gender-container-label{
    font-size: 1rem;
    display: flex;
    flex-shrink: 0;
    width: 5.71428571429rem;
    padding-right: 0.7143rem;
    width: 147px;
    margin: auto;
}

.pizo-new-account-container-status-container-label,.pizo-new-account-container-birthday-container-label{
    padding-right: 0.7143rem;
    width: auto;
    font-size: 1rem;
    line-height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.pizo-new-account-container-gender,
.pizo-new-account-container-birthday{
    width: auto;
    padding-left:  14px;
    padding-right: 0;
}

.pizo-new-account-container-status-container-label{
    width: auto;
}

.pizo-new-account-container-status{
    width: auto;
    padding-right: 0;
    padding-left: 30px;
}

.pizo-new-account-container-status-container>label{
    margin-top: auto;
    margin-bottom: auto;
}

.pizo-new-account-container-birthday-container>div{
    margin-top: auto;
    margin-bottom: auto;
    border: solid 0.0714rem var(--color-input-color);
    font-size: 1rem;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.pizo-new-account-container-gender-container-label{
    width: auto;
    padding-right: 10px;
    vertical-align: top;
}

.pizo-new-account-container-username-container-input,
.pizo-new-account-container-password-container-input,
.pizo-new-account-container-name-container-input,
.pizo-new-account-container-email-container-input,
.pizo-new-account-container-avatar-container-input,
.pizo-new-account-container-gender-container-input,
.pizo-new-account-container-address-container-input,
.pizo-new-account-container-phone-container-input,
.pizo-new-account-container-position-container-input,
.pizo-new-account-container-position,
.pizo-new-account-container-phone{
    border: solid 0.0714rem var(--color-input-color);
    font-size: 1rem;
    padding: 0.4286rem;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.pizo-new-account-container-position-container-input,.pizo-new-account-container-position,.pizo-new-account-container-phone{
    padding: unset;
    border: none;
}

.pizo-new-account-container-password-container-new,.pizo-new-account-container-password-container-new-confirm{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(50% - 15px);
    height: 100%;
    align-items: stretch;
}

.pizo-new-account-container-password-container-new{
    padding-right: 15px;
}

.pizo-new-account-container-password-container-new-confirm{
    padding-left: 15px;
}

.pizo-new-account-container-change-password-show{
    display: unset
}

.pizo-new-account-container-change-password-hide{
    display: none;
}

.show-password-change .pizo-new-account-container-change-password-show{
    display: none;
}

.show-password-change .pizo-new-account-container-change-password-hide{
    display: unset;
}

.pizo-new-realty-desc-detail-row-cell-menu-ultra-span{
    font-size: 1rem;
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    align-items: center;
    padding-right: 0.7143rem;
}

.pizo-new-account-container-permission-child:not(:first-child)
{
    margin-top: 10px;
}

.pizo-new-account-container-change-password{
    cursor: pointer;
    padding-left: 170px;
    margin-bottom: 10px;
    color: var(--primary);
}

.pizo-new-account-container-password{
    display: none;
}

.absol-switch-slider:before{
    top: 50%;
    transform: translateY(-50%);
}

input:checked+.absol-switch-slider:before{
    -webkit-transform: translateX(1em) translateY(-50%);
    -ms-transform: translateX(1em) translateY(-50%);
    transform: translateX(1em) translateY(-50%);
}

.pizo-new-account-container-avatar-container-image{
    flex-grow: 2;
    display: flex;
}

.pizo-new-account-container-avatar-container-image-content{
    max-height: 110px;
    max-width: 110px;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    border: 1px solid rgb(214, 214, 214);
}

.pizo-new-account-container-permission-addvance-selectmenu-icon{
    display: flex;
    flex-shrink: 0;
    padding-right: 30px;
    cursor: pointer;
    font-size: 30px;
}

.pizo-new-account-container-permission-addvance-selectmenu-icon:hover{
    color: #73aed3;
}

.pizo-new-account-container-permission-addvance-selectmenu-content{
    display: flex;
    flex-grow: 2;
    height: 100%;
}

.pizo-new-account-container-permission-addvance-selectmenu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
    align-items: center;
  }