.pizo-new-category-container-name-container-input,
.pizo-new-category-container-alias-container-input,
.pizo-new-category-container-code-container-input,
.pizo-new-category-container-note-container-input,
.pizo-new-category-container-username-container-input,
.pizo-new-state-selectbox-container-input {
    border: solid 0.0714rem var(--color-input-color);
    font-size: 1em;
    padding: 0.4286em;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    color: -internal-light-dark(black, white);
}

.pizo-new-category-container-name-container-label,
.pizo-new-category-container-alias-container-label,
.pizo-new-category-container-code-container-label,
.pizo-new-category-container-username-container-label,
.pizo-new-category-container-note-container-label,
.pizo-new-state-selectbox-container-label {
    font-size: 1em;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 8em;
    padding-right: 0.7143em;
}

.pizo-new-category-container-name-container,
.pizo-new-category-container-alias-container,
.pizo-new-category-container-code-container,
.pizo-new-category-container-username-container,
.pizo-new-category-container-note-container,
.pizo-new-state-selectbox-container {
    display: flex;
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
}

.pizo-new-category-container-name,
.pizo-new-category-container-alias,
.pizo-new-category-container-code,
.pizo-new-category-container-username,
.pizo-new-category-container-note,
.pizo-new-state-selectbox {
    padding: 5px;
    padding-right: 0;
}

.pizo-new-category-container {
    width: 60%;
}

.pizo-new-catergory-container>div:first-child {
    padding-top: 0;
}

.pizo-new-catergory-container>div:last-child {
    padding-bottom: 0;
}

.label-used-error,
.label-invalid-error {
    display: none;
}

.hasErrorElement.used-error .label-used-error,
.hasErrorElement.invalid-error .label-invalid-error {
    display: inline;
    width: 232px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}