.pizo-new-contact-container-name-container,
.pizo-new-contact-container-email-container,
.pizo-new-contact-container-type-container,
.pizo-new-contact-container-phone-container {
    display: flex;
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
}

.pizo-new-contact-container-name-container-label,
.pizo-new-contact-container-email-container-label,
.pizo-new-contact-container-type-container-label,
.pizo-new-contact-container-phone-container-label {
    font-size: 1em;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 9.3571em;
    padding-right: 0.7143em;
}

.pizo-new-contact-container-name-container-input,
.pizo-new-contact-container-email-container-input,
.pizo-new-contact-container-type-container-input,
.pizo-new-contact-container-phone-container-input {
    border: solid 0.0714rem var(--color-input-color);
    font-size: 1em;
    padding: 0.4286em;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.pizo-new-contact-container>div:not(:last-child) {
    margin-bottom: 0.7143em;
}

.pizo-new-contact-container {
    width: 50%;
}