.pizo-new-realty-desc-tab {
  padding: 0.7143rem;
  border-bottom: solid 0.0714rem #ccc;
  margin-bottom: 0.7143rem;
  background: #f3f3f3;
}

.pizo-new-realty-desc-detail {
  width: 50%;
  max-width: 100%;
  min-width: 380px;
  display: inline-block;
}

.pizo-new-realty-desc-detail-row-cell {
  width: calc(50% - 2.1429rem);
  max-width: calc(50% - 2.1429rem);
  display: inline-block;
}

.pizo-new-realty-desc-detail-row-menu {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(80% - 1.5rem);
  flex: 0 0 calc(80% - 1.5rem);
  max-width: calc(80% - 1.5rem);
}

.pizo-new-realty-desc-detail-row-cell-menu {
  width: calc(100% - 4.8333rem);
  margin-left: 0.7143rem;
}

.pizo-new-realty-desc-detail-row-cell:not(:first-child) {
  margin-left: 4.2857rem;
}

.pizo-new-realty-desc-content {
  position: relative;
}

.pizo-new-realty-desc-detail-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
}

.pizo-new-realty-desc-detail-row:not(:last-child) {
  margin-bottom: 0.7143rem;
  margin-top: 1px;
}

.pizo-new-realty-desc-detail-row-label {
  font-size: 1rem;
  padding-top: 0.4375rem;
  display: flex;
  flex-shrink: 0;
  width: 5.71428571429rem;
  padding-right: 0.7143rem;
}

.pizo-new-realty-desc-detail-row-cell-input {
  border: solid 0.0714rem var(--color-input-color);
  font-size: 1rem;
  padding: 0.4286rem;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.pizo-new-realty-dectruct-content-area-size-zone
  .pizo-new-realty-desc-detail-row-cell-label {
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 5.71428571429rem;
  padding-right: 0.7143rem;
}

.pizo-new-realty-desc-detail-row-cell-menu-1 {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.pizo-new-realty-desc-detail-row-cell-menu-2 {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.pizo-new-realty-desc-detail-row-menu-1-checkbox {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.pizo-new-realty-desc-detail-row-menu-2-checkbox {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.pizo-new-realty-desc-detail-row-cell-menu-1-span {
  font-size: 1rem;
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding-right: 0.7143rem;
}

.pizo-new-realty-desc-detail-row-cell-menu-2-span {
  font-size: 1rem;
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding-right: 0.7143rem;
}

.pizo-new-realty-desc-detail-1-row-label {
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 5.71428571429rem;
  padding-right: 0.7143rem;
}

.pizo-new-realty-desc-detail-row-input {
  border: solid 0.0714rem var(--color-input-color);
  font-size: 1rem;
  padding: 0.4286rem;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.pizo-new-realty-desc-detail-1-row-input {
  border: solid 0.0714rem var(--color-input-color);
  font-size: 1rem;
  padding: 0.4286rem;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.absol-modal {
  background-color: rgba(0, 0, 0, 0.502);
  overflow-y: auto;
  z-index: 1002;
}

.pizo-new-realty-dectruct-tab {
  padding: 0.7143rem;
  border-bottom: solid 0.0714rem #ccc;
  background: #f3f3f3;
}

.pizo-new-realty-dectruct {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  margin-top: 0.7143rem;
  margin-right: 30px;
  min-width: 380px;
}

.pizo-new-realty-desc-infomation-cell {
  display: inline-block;
  width: calc(33% - 30px);
  min-width: 380px;
}

.pizo-new-realty-desc-infomation-cell:not(:last-child) {
  margin-right: 30px;
}

.pizo-new-realty-desc-infomation-cell.center-child {
  width: calc(33% - 30px);
  min-width: 380px;
}

.pizo-new-realty-utility {
  width: 100%;
  vertical-align: top;
  margin-top: 0.7143rem;
}

.pizo-new-realty-utility-tab {
  padding: 0.7143rem;
  border-bottom: solid 0.0714rem #ccc;
  background: #f3f3f3;
}

.pizo-new-realty-convenient {
  width: 100%;
  vertical-align: top;
  margin-top: 0.7143rem;
}

.pizo-new-realty-convenient-tab {
  padding: 0.7143rem;
  border-bottom: solid 0.0714rem #ccc;
  background: #f3f3f3;
}

.pizo-new-realty-juridical {
  width: 100%;
  vertical-align: top;
  margin-top: 0.7143rem;
}

.pizo-new-realty-juridical-tab {
  padding: 0.7143rem;
  border-bottom: solid 0.0714rem #ccc;
  background: #f3f3f3;
}

.pizo-new-realty-history {
  width: 100%;
  vertical-align: top;
  margin-top: 0.7143rem;
}

.pizo-new-realty-history-tab {
  padding: 0.7143rem;
  border-bottom: solid 0.0714rem #ccc;
  background: #f3f3f3;
}

.pizo-new-realty-dectruct-content-area {
  margin: 0.7143rem;
}

.pizo-new-realty-dectruct-content-area-unit {
  width: 3.78rem !important;
  min-width: 3.78rem !important;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.pizo-new-realty-dectruct-content-area-width-label,
.pizo-new-realty-dectruct-content-area-height-label,
.pizo-new-realty-dectruct-content-area-1-label,
.pizo-new-realty-dectruct-content-area-2-label {
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 4rem;
  padding-right: 0.7143rem;
}

.pizo-new-realty-dectruct-content-area-size-zone.no-margin-style
  .pizo-new-realty-detruct-content-area-label,
.pizo-new-realty-dectruct-content-area-size-zone.margin-style
  .pizo-new-realty-detruct-content-area-label {
  font-size: 1rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.pizo-new-realty-dectruct-content-area-size-zone.no-margin-style
  .pizo-new-realty-detruct-content-area-label {
  width: 4.71428571429rem;
  padding-right: 0.71428571429rem;
}

.pizo-new-realty-dectruct-content-area-size-zone.margin-style
  .pizo-new-realty-detruct-content-area-label {
  width: 4rem;
  padding-right: 0.71428571429rem;
}

.pizo-new-realty-dectruct .pizo-new-realty-dectruct-content-area-size {
  margin-left: 0.7143rem;
  margin-top: 0.7143rem;
}

.pizo-new-realty-dectruct-content-area-unit-size {
  width: 3.78rem !important;
  min-width: 3.78rem !important;
  flex-shrink: 0;
  vertical-align: top;
}

.pizo-new-realty-dectruct-input {
  border: solid 0.0714rem var(--color-input-color);
  font-size: 1rem;
  padding: 0.4286rem;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.pizo-new-realty-detruct-content-direction {
  min-width: unset !important;
  width: calc(100% - 4.53333333333rem);
  vertical-align: bottom;
}

.pizo-new-realty-detruct-content-type {
  min-width: unset !important;
  width: calc(100% - 4.53333333333rem);
  vertical-align: bottom;
}

.pizo-new-realty-detruct-content-area-label {
  font-weight: bold;
}

.pizo-new-realty-dectruct-content-area-size-zone {
  display: inline-block;
  margin-bottom: 0.7143rem;
  width: calc(50% - 1.0714rem);
  vertical-align: top;
}

.pizo-new-realty-desc-detail-row
  .pizo-new-realty-dectruct-content-area-size-zone {
  margin-bottom: 0;
}

.pizo-new-realty-dectruct-content-area-bedroom-label,
.pizo-new-realty-dectruct-content-area-kitchen-label,
.pizo-new-realty-dectruct-content-area-bathroom-label,
.pizo-new-realty-dectruct-content-area-garage-label,
.pizo-new-realty-dectruct-content-area-basement-label,
.pizo-new-realty-dectruct-content-area-balcony-label {
  font-size: 1rem;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 5rem;
  padding-right: 0.7143rem;
}

.pizo-new-realty-dectruct-content-area-size-zone.no-margin-style {
  width: calc(50% - 0.71428571428rem);
}

.pizo-new-realty-dectruct-content-area-size-zone.margin-style {
  width: calc(50% - 1.42857142857rem);
}

.pizo-new-realty-dectruct-content-area-size-zone:not(:first-child) {
  margin-left: 2.1429rem;
}

.pizo-new-realty-dectruct .pizo-new-realty-dectruct-content-area-size-right {
  margin-left: 0.7143rem;
  margin-bottom: 0.7143rem;
}

.pizo-new-realty-dectruct-content-area-right > span {
  padding-right: 0.7143rem;
  font-size: 1rem;
  display: flex;
  flex-shrink: 0;
  width: fit-content;
  align-items: center;
  padding-right: 0.7143rem;
}

.pizo-new-realty-convenient-content-area-size-zone {
  display: inline-block;
  margin-bottom: 0.7143rem;
  width: calc(50% - 1.0714rem);
  vertical-align: top;
}

.pizo-new-realty-convenient-content-area-size-zone > span {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}

.pizo-new-realty-convenient .pizo-new-realty-convenient-content-area-size {
  margin-left: 0.7143rem;
  margin-bottom: 0.7143rem;
}

.pizo-new-realty-convenient-content-area {
  margin: 0.7143rem;
}

.pizo-new-realty-dectruct-content-area-right {
  margin: 0.7143rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
}

.pizo-new-realty-convenient-content-area-size-zone:not(:first-child) {
  margin-left: 2.1429rem;
}

.pizo-new-realty-convenient-content-size {
  margin: 0.7143rem;
}

.pizo-list-project-button-element {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #ebebeb;
  border: solid 0.0714rem #c0c0c0;
  border-radius: 0.2rem;
  font-size: 1rem;
  overflow: hidden;
  line-height: 2rem;
  box-sizing: content-box;
  height: 2rem;
  white-space: nowrap;
}

.absol-single-page-header .pizo-list-project-button-element:not(:first-child) {
  margin-left: 0.3571rem;
}

.pizo-list-project-button-element > span {
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  box-sizing: border-box;
  line-height: 2rem;
  text-align: center;
  font-size: 1rem;
  text-align: center;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  line-height: inherit;
}

.absol-dropdown-content {
  z-index: 1001;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pizo-new-realty-dectruct-content-area-1-label {
}
