.pizo-new-ward-container-ward-container {
    display: flex;
    /*display: -webkit-box;*/
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
}

.pizo-new-ward-container-ward-container-label {
    font-size: 1em;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 7.7857em;
    padding-right: 0.7143em;
}

.pizo-new-ward-container-ward-container-input {
    border: solid 0.0714rem var(--color-input-color);
    font-size: 1em;
    padding: 0.4286em;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}