.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-bedroom-label{
width: 4.875rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-kitchen-label{
width: 4.875rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-bathroom-label{
width: 4.875rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-garage-label{
width: 4.875rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-balcony-label{
width: 4.875rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-basement-label{
width: 4.875rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-bedroom.pizo-new-realty-dectruct-input{
width: calc(100% - 5.928489375rem); 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-kitchen.pizo-new-realty-dectruct-input{
width: calc(100% - 5.928489375rem); 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-bathroom.pizo-new-realty-dectruct-input{
width: calc(100% - 5.928489375rem); 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-garage.pizo-new-realty-dectruct-input{
width: calc(100% - 5.928489375rem); 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-balcony.pizo-new-realty-dectruct-input{
width: calc(100% - 5.928489375rem); 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-basement.pizo-new-realty-dectruct-input{
width: calc(100% - 5.928489375rem); 
}
