.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-pool-label{
width: 5.428571428571429rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .absol-selectmenu.pizo-new-realty-dectruct-content-area-unit{
width: 3.643973214285714rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-gym-label{
width: 5.428571428571429rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .absol-selectmenu.pizo-new-realty-dectruct-content-area-unit{
width: 3.643973214285714rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-market-label{
width: 5.428571428571429rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .absol-selectmenu.pizo-new-realty-dectruct-content-area-unit{
width: 3.643973214285714rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-supermarket-label{
width: 5.428571428571429rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .absol-selectmenu.pizo-new-realty-dectruct-content-area-unit{
width: 3.643973214285714rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-hospital-label{
width: 5.428571428571429rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .absol-selectmenu.pizo-new-realty-dectruct-content-area-unit{
width: 3.643973214285714rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-park-label{
width: 5.428571428571429rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .absol-selectmenu.pizo-new-realty-dectruct-content-area-unit{
width: 3.643973214285714rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-highschool-label{
width: 5.428571428571429rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .absol-selectmenu.pizo-new-realty-dectruct-content-area-unit{
width: 3.643973214285714rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-preschool-label{
width: 5.428571428571429rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .absol-selectmenu.pizo-new-realty-dectruct-content-area-unit{
width: 3.643973214285714rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-pool.pizo-new-realty-dectruct-input{
width: calc(100% - 10.284655357142857rem); 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-gym.pizo-new-realty-dectruct-input{
width: calc(100% - 10.284655357142857rem); 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-market.pizo-new-realty-dectruct-input{
width: calc(100% - 10.284655357142857rem); 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-supermarket.pizo-new-realty-dectruct-input{
width: calc(100% - 10.284655357142857rem); 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-hospital.pizo-new-realty-dectruct-input{
width: calc(100% - 10.284655357142857rem); 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-park.pizo-new-realty-dectruct-input{
width: calc(100% - 10.284655357142857rem); 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-highschool.pizo-new-realty-dectruct-input{
width: calc(100% - 10.284655357142857rem); 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-preschool.pizo-new-realty-dectruct-input{
width: calc(100% - 10.284655357142857rem); 
}
