.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-1-label{
width: 3.2857142857142856rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .absol-selectmenu.pizo-new-realty-dectruct-content-area-unit-size{
width: 3.643973214285714rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-2-label{
width: 3.2857142857142856rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .absol-selectmenu.pizo-new-realty-dectruct-content-area-unit-size{
width: 3.643973214285714rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-height-label{
width: 3.2857142857142856rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .absol-selectmenu.pizo-new-realty-dectruct-content-area-unit{
width: 3.643973214285714rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-width-label{
width: 3.2857142857142856rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .absol-selectmenu.pizo-new-realty-dectruct-content-area-unit{
width: 3.643973214285714rem; 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-1.pizo-new-realty-dectruct-input{
width: calc(100% - 8.141798214285714rem); 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-2.pizo-new-realty-dectruct-input{
width: calc(100% - 8.141798214285714rem); 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-height.pizo-new-realty-dectruct-input{
width: calc(100% - 8.141798214285714rem); 
}
.pizo-new-realty-dectruct-content-area-size-zone .pizo-new-realty-dectruct-content-area-width.pizo-new-realty-dectruct-input{
width: calc(100% - 8.141798214285714rem); 
}
