.pizo-new-realty-convenient-content-area-size-zone .pizo-new-realty-convenient-content-area-tivi-label{
width: 4.1875rem; 
}
.pizo-new-realty-convenient-content-area-size-zone .pizo-new-realty-convenient-content-area-fridge-label{
width: 4.1875rem; 
}
.pizo-new-realty-convenient-content-area-size-zone .pizo-new-realty-convenient-content-area-washing-label{
width: 4.1875rem; 
}
.pizo-new-realty-convenient-content-area-size-zone .pizo-new-realty-convenient-content-area-conditioning-label{
width: 4.1875rem; 
}
.pizo-new-realty-convenient-content-area-size-zone .pizo-new-realty-convenient-content-area-tivi.pizo-new-realty-dectruct-input{
width: calc(100% - 5.240989375rem); 
}
.pizo-new-realty-convenient-content-area-size-zone .pizo-new-realty-convenient-content-area-fridge.pizo-new-realty-dectruct-input{
width: calc(100% - 5.240989375rem); 
}
.pizo-new-realty-convenient-content-area-size-zone .pizo-new-realty-convenient-content-area-washing.pizo-new-realty-dectruct-input{
width: calc(100% - 5.240989375rem); 
}
.pizo-new-realty-convenient-content-area-size-zone .pizo-new-realty-convenient-content-area-conditioning.pizo-new-realty-dectruct-input{
width: calc(100% - 5.240989375rem); 
}
