.pizo-new-realty-dectruct-content-area-right .pizo-new-realty-detruct-content-area-label{
width: 10.285714285714286rem; 
}
.pizo-new-realty-dectruct-content-area-right .absol-selectmenu.pizo-new-realty-dectruct-content-area-unit{
width: 4.5rem; 
}
.pizo-new-realty-dectruct-content-area-right .pizo-new-realty-detruct-content-area-label{
width: 10.285714285714286rem; 
}
.pizo-new-realty-dectruct-content-area-right .pizo-new-realty-dectruct-content-area-access.pizo-new-realty-dectruct-input{
    width: calc(100% - 15.1rem);
}
.pizo-new-realty-dectruct-content-area-right .pizo-new-realty-dectruct-content-area-year.pizo-new-realty-dectruct-input{
    width: calc(100% - 11.4rem);
}
