.arrow_up{
	transform: scale(1.06);
	display: block;
	margin-bottom: 2px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: calc(50% - 1px);
}

.arrow_down{
	transform: scale(1.06);
    display: block;
    margin-top: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    height: calc(50% - 2px);
}

.sort-container{
	display: none;
}

.has-sort .sort-container{
	position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
	display: inline-block;
	height: 30px;
    width: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.has-sort.downgrade .sort-container .arrow_up>path{
	fill: #fff !important;
}

.has-sort.upgrade .sort-container .arrow_down>path{
	fill: #fff !important;
}
.has-sort{
	position: relative;
}

.margin-div-cell{
    width: 1.71428571429rem;
    display: inline-block;
}

.more-icon-container{
    font-size: 16px;
    position: absolute;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    top: 50%;
    width: 20px;
    height: 30px;
    transform: translateX(-100%) translateX(-0.71428571428rem) translateY(-50%);
}

.more-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateY(-2px);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    font-size: 20px;
}

table.sortTable tr.more-child> td> div>i.more-button, table.sortTableClone tr.more-child> td> div>i.more-button{
	transform: translateY(-50%) translateY(-2px) rotateZ(90deg);
}
  
  .container-view{
      display: inline-block;
  }

  table.sortTable td.margin-left-has-icon{
    padding-left: 2.5rem;
  }

  
  table.sortTable.padding-High-table tbody td:first-child{
    padding-left: 2.85714285714rem;
    
  }

  table.sortTable td:first-child{
    padding-left: 0.71428571428rem;
  }

  table.sortTable td:last-child{
    padding-right: 0.71428571428rem;
  }

  .drag-icon-button{
    cursor: context-menu;
  }

  table.sortTable>tbody>tr.parent{
    opacity: 1;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
    
    /* transform: none; */
    /* transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76); */
  }

  table.sortTable>tbody>tr{
    opacity: 0;
    /* transform: rotateX(-90deg); */
    /* transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76); */
  }

  table.sortTable>tbody>tr.hideTranslate.parent{
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    transform: translateX(100%);
  }
  
  .disPlayNone{
    display: none !important;
  }

  .absol-frame-view-frame-container:not(.absol-active){
    visibility: unset;
  }
/* table.sortTable tr:nth-child(even) {
    background-color: #f5f5f5;
  } */

  table.sortTable .slip-reordering .container-view{
    z-index: 9999 !important;
  }