.arrow_up{
	transform: scale(1.06);
	display: block;
	margin-bottom: 1px;
}

.arrow_down{
	transform: scale(1.06);
	display: block;
	margin-top: 1px;
}

.sort-container{
	display: none;
}

.has-sort .sort-container{
	display: inline-block;
}